<%- include ("partials/header") %> 

<h1>BMI Calculator</h1>

<h3>Results!</h3>

<h5>Your BMI is <%= finalBMI %> </h5>


  <img width="300" class="bmi" src="images/bmi.jpg" alt="">

  <footer><a  href="/">Calculate Again</a></footer>



  <%- include ("partials/footer") %>